<html>
	<head>Dear <%= userName %>,</head>
    <body>
            <% if (text1) { %>
    	<p>
                <%= text1 %>
        </p>
        <% } %>
        <% if (text2) { %>
    	<p>
                <%= text2 %>
            
        </p>
        <% } %>
        <% if (link) { %>
        <a href=<%= link %>><%= linkDescription %></a><br>
    	<p>
            If clicking the link doesn&#39;t seem to work, you can copy and paste the link into your browser&#39;s address window, or retype it there.
        </p>
        <% } %>
		<br/>
        <p>Thanks,</p>
    	<p>Team onestopyoga</p>
        <hr>
        <p>
            <h6> Please do not reply to this email. This is system generated email. onestopyoga team is not monitoring and you will not receive a response. If you need further assistance, Please visit onestopyoga.com; or write us to hello@onestopyoga.com  <h6>
        </p>
    </body>
</html>


